<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="net.sorablue.shogo.FWMeasure" android:versionName="テスト版" android:versionCode="1">

<uses-permission android:name="android.permission.CAMERA"></uses-permission>
<uses-permission android:name="android.permission.WAKE_LOCK"/>
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"></uses-permission>

    <application android:label="@string/app_name" android:icon="@drawable/fireworks" android:debuggable="false">
	<uses-library android:name="com.google.android.maps"/>
        <activity android:screenOrientation="landscape" android:name="FWMeasureActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:screenOrientation="landscape" android:name="MapActivity">
        </activity>

    </application>

</manifest>
